<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" />

  <name>TrigonWebs</name>

  <description>TrigonWebs Official App</description>

  <author href="https://www.trigonwebs.com" email="info@trigonwebs.com">
      TrigonWebs
  </author>
  
  <platform name="android" />
  
  <icon src="img/twlogo_black.png" />
  
  <splash src="img/twlogo_black.png" />

</widget>